# Activity 2: Extract and Repurpose European Soccer Data

In [1]:
library(dplyr)
my_db <- src_sqlite("database.sqlite",create = FALSE)
src_tbls(my_db)

Warning message:
"package 'dplyr' was built under R version 3.3.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

[1] "Country"           "League"            "Match"
[4] "Player"            "Player_Attributes" "Team"
[7] "Team_Attributes"   "sqlite_sequence"

### Generating a temporary table to store the normalized data of all the mathces and the corresponding league each player played in

In [2]:
MatchPlayer <- tbl(my_db, sql("select * from 
(Select id as match_id, match_api_id, league_id,  home_team_api_id as team_id, home_player_1 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  home_team_api_id as team_id, home_player_2 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  home_team_api_id as team_id, home_player_3 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  home_team_api_id as team_id, home_player_4 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  home_team_api_id as team_id, home_player_5 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  home_team_api_id as team_id, home_player_6 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  home_team_api_id as team_id, home_player_7 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  home_team_api_id as team_id, home_player_8 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  home_team_api_id as team_id, home_player_9 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  home_team_api_id as team_id, home_player_10 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  home_team_api_id as team_id, home_player_11 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  away_team_api_id as team_id, away_player_1 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  away_team_api_id as team_id, away_player_2 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  away_team_api_id as team_id, away_player_3 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  away_team_api_id as team_id, away_player_4 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  away_team_api_id as team_id, away_player_5 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  away_team_api_id as team_id, away_player_6 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  away_team_api_id as team_id, away_player_7 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  away_team_api_id as team_id, away_player_8 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  away_team_api_id as team_id, away_player_9 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  away_team_api_id as team_id, away_player_10 as player_id from Match
union all
Select id as match_id, match_api_id, league_id,  away_team_api_id as team_id, away_player_11 as player_id from Match) where player_id is not null"))

### Converting the player match normalized table to a dataframe

In [3]:
matchplayerdf <- as.data.frame(MatchPlayer)

In [4]:
matchplayerdf

       match_id match_api_id league_id team_id player_id
1      145      493016       1          9996    39890
2      146      493017       1          8203    38327
3      147      493018       1          9986    95597
4      149      493020       1          9994    30934
5      150      493021       1          8342    37990
6      151      493022       1          9993    38391
7      152      493023       1          7947    39153
8      153      493024       1         10000    37900
9      154      493025       1          9984    36835
10     155      493026       1          9998    38252
11     156      493027       1          8635    34480
12     157      493028       1          8571    33676
13     158      493029       1          9987    37937
14     159      493030       1         10001    38341
15     160      493031       1          9999    38318
16     161      493032       1          9991   104378
17     162      493033       1          9986    95597
18     163      493034       1          8203    38327
19     165      493036       1          9993    38391
20     166      493037       1          9994    30934
21     167      493038       1          7947    39153
22     168      493039       1          8342    37990
23     169      493040       1         10000    37900
24     170      493041       1          9996   148308
25     171      493042       1          4049    32990
26     172      493043       1          8571    33676
27     173      493044       1          9986    95597
28     174      493045       1          9991   104378
29     175      493046       1          9998    38252
30     176      493047       1         10001    38341
...    ...      ...          ...       ...     ...
542252 25950    1992066      24558      7896   178142
542253 25951    1992067      24558      9931   527103
542254 25952    1992068      24558     10243    67306
542255 25953    1992069      24558     10179   275122
542256 25954    1992070      24558     10191   232110
542257 25955    1992071      24558     10191   289732
542258 25956    1992072      24558      7896   178142
542259 25957    1992073      24558     10190    35831
542260 25958    1992074      24558     10243    67306
542261 25959    1992075      24558      9956   289472
542262 25960    1992076      24558      9931   527104
542263 25961    1992077      24558     10192    37554
542264 25962    1992078      24558      9956   289472
542265 25963    1992079      24558      9824   209371
542266 25964    1992080      24558     10199    34082
542267 25965    1992081      24558     10199    34082
542268 25966    1992082      24558     10190   119839
542269 25967    1992083      24558     10179   275122
542270 25968    1992084      24558     10243    67306
542271 25969    1992085      24558     10192   422412
542272 25970    1992086      24558     10190    72628
542273 25971    1992087      24558      9824   113227
542274 25972    1992088      24558      9956   289472
542275 25973    1992089      24558     10191   289732
542276 25974    1992090      24558      7896   178142
542277 25975    1992091      24558     10191   289732
542278 25976    1992092      24558     10199    95257
542279 25977    1992093      24558     10179   275122
542280 25978    1992094      24558     10243   194532
542281 25979    1992095      24558      9931   527103

In [5]:
library(RSQLite)
db <- dbConnect(SQLite(),dbname="database.sqlite")
dbWriteTable(db, "MatchPlayer", matchplayerdf)
dbListTables(db)

[1] TRUE

[1] "Country"           "League"            "Match"
[4] "MatchPlayer"       "Player"            "Player_Attributes"
[7] "Team"              "Team_Attributes"   "sqlite_sequence"

### Top 10 players with the highest overall rating

In [6]:
tbl(my_db, sql("select p.player_api_id, p.player_name, rtg.overall_rating
from Player p
join (select player_api_id, max(overall_rating) as overall_rating from 'Player_Attributes' group by player_api_id) rtg on p.player_api_id = rtg.player_api_id order by rtg.overall_rating desc"))

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

   player_api_id       player_name overall_rating
           <int>             <chr>          <int>
1          30981      Lionel Messi             94
2          30717  Gianluigi Buffon             93
3          30829      Wayne Rooney             93
4          30893 Cristiano Ronaldo             93
5          39854    Xavi Hernandez             92
6          39989    Gregory Coupet             92
7          30626     Thierry Henry             91
8          30627        John Terry             91
9          30657     Iker Casillas             91
10         30723  Alessandro Nesta             91
# ... with more rows

### Top 10 goalkeepers by sum of gk attributes

In [7]:
tbl(my_db, sql("select * from (select p.player_api_id, p.player_name, gk.gk_rating
from Player p
join (select player_api_id, max(gk_diving+gk_handling+gk_kicking+gk_positioning+gk_reflexes) as gk_rating from 'Player_Attributes' group by player_api_id) gk on p.player_api_id = gk.player_api_id) order by gk_rating desc"))

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

   player_api_id       player_name gk_rating
           <int>             <chr>     <int>
1          30717  Gianluigi Buffon       449
2          39989    Gregory Coupet       447
3          30859         Petr Cech       445
4          30657     Iker Casillas       442
5          27299      Manuel Neuer       440
6          30989       Julio Cesar       438
7          24503    Sebastian Frey       437
8          30726 Edwin van der Sar       436
9         182917      David De Gea       429
10         30660        Pepe Reina       428
# ... with more rows

### Top 10 players by number of leagues they played in

In [8]:
tbl(my_db, sql("select * from (select p.player_api_id, p.player_name, app.appearances
from Player p
join (select player_id, count(*) as appearances from 'MatchPlayer' where player_id is not null group by player_id) app on p.player_api_id = app.player_id) app order by app.appearances desc"))

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

   player_api_id          player_name appearances
           <int>                <chr>       <int>
1          31293       Steve Mandanda         300
2          41097     Stephane Ruffier         294
3          33764 Gorka Iraizoz Moreno         286
4          42422     Samir Handanovic         286
5          26295          Hugo Lloris         282
6          31465           Tim Howard         282
7          31432             Joe Hart         275
8          26168      Cedric Carrasso         268
9          26399        Daniel Congre         262
10         94550       Moussa Sissoko         260
# ... with more rows

### Top 10 players by number of leagues they played in

In [9]:
tbl(my_db, sql("select * from (select p.player_api_id, p.player_name, lc.league_count
from Player p
join (select player_id, count(*) as league_count from (select distinct player_id, league_id from MatchPlayer where player_id is not null) group by player_id) lc on  p.player_api_id = lc.player_id) app order by league_count desc"))

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

   player_api_id           player_name league_count
           <int>                 <chr>        <int>
1          42119      Gelson Fernandes            6
2         116750 Ricky van Wolfswinkel            5
3         178538        Filip Djuricic            5
4          22543        Radamel Falcao            4
5          24123    Jonathan De Guzman            4
6          25816            Almen Abdi            4
7          26434       Ibrahim Afellay            4
8          26489       Edson Braafheid            4
9          26675           Eljero Elia            4
10         30477       Danijel Pranjic            4
# ... with more rows

### Top 10 teams by sum of build up play attributes

In [10]:
tbl(my_db, sql("select * from (select t.Team_api_id, t.team_short_name, t.team_long_name, bs.buildupScore
from Team t
left join (select team_api_id, max(buildup_score) as buildupScore from (select team_api_id, (buildUpPlaySpeed+buildUpPlayDribbling+buildUpPlayPassing) as buildup_score from Team_attributes) group by team_api_id) bs on bs.team_api_id = t.team_api_id)order by buildupScore desc"))

Source:   query [?? x 4]
Database: sqlite 3.11.1 [database.sqlite]

   Team_api_id team_short_name             team_long_name buildupScore
         <int>           <chr>                      <chr>        <int>
1         9804             TOR                     Torino          209
2         8600             UDI                    Udinese          205
3         8194             FDU         Fortuna Düsseldorf          198
4         8033             POD Podbeskidzie Bielsko-Biala          193
5         8245             KKI              Korona Kielce          192
6       208931             CAP                      Carpi          190
7         8244             LOD                Widzew Lódz          190
8         8024             WID                Widzew Lódz          190
9         9830             NAN                  FC Nantes          189
10        8543             LAZ                      Lazio          188
# ... with more rows

### Top 10 teams by sum of chance creation attributes

In [11]:
tbl(my_db, sql("select * from (select t.Team_api_id, t.team_short_name, t.team_long_name, cs.chanceCreationScore
from Team t
left join (select team_api_id, max(chanceCreationScore) as chanceCreationScore from (select team_api_id, (chanceCreationPassing+chanceCreationCrossing+chanceCreationShooting) as chanceCreationScore from Team_attributes) group by team_api_id) cs on cs.team_api_id = t.team_api_id)order by chanceCreationScore desc"))

Source:   query [?? x 4]
Database: sqlite 3.11.1 [database.sqlite]

   Team_api_id team_short_name          team_long_name chanceCreationScore
         <int>           <chr>                   <chr>               <int>
1         8543             LAZ                   Lazio                 220
2         8697             WBR        SV Werder Bremen                 216
3         9875             NAP                  Napoli                 215
4         8456             MCI         Manchester City                 210
5         8586             TOT       Tottenham Hotspur                 210
6         8658             BIR         Birmingham City                 210
7         8602             WOL Wolverhampton Wanderers                 210
8         8191             BUR                 Burnley                 210
9        10003             SWA            Swansea City                 210
10       10172             QPR     Queens Park Rangers                 210
# ... with more rows

### Top 10 teams by sum of defense attributes

In [12]:
tbl(my_db, sql("select * from (select t.Team_api_id, t.team_short_name, t.team_long_name, ds.defenseScore
from Team t
left join (select team_api_id, max(defenseScore) as defenseScore from (select team_api_id, (defencePressure+defenceAggression+defenceTeamWidth) as defenseScore from Team_attributes) group by team_api_id) ds on ds.team_api_id = t.team_api_id)order by defenseScore desc"))

Source:   query [?? x 4]
Database: sqlite 3.11.1 [database.sqlite]

   Team_api_id team_short_name          team_long_name defenseScore
         <int>           <chr>                   <chr>        <int>
1         9993             BAC            Beerschot AC          210
2        10001             WES            KVC Westerlo          210
3         9986             CHA      Sporting Charleroi          210
4         8659             WBA    West Bromwich Albion          210
5         8667             HUL               Hull City          210
6         8658             BIR         Birmingham City          210
7         8602             WOL Wolverhampton Wanderers          210
8         8483             BLA               Blackpool          210
9        10003             SWA            Swansea City          210
10       10172             QPR     Queens Park Rangers          210
# ... with more rows

### Top 10 teams by number of goals scored

In [13]:
tbl(my_db, sql("select * from (select team_api_id, team_short_name, team_long_name,  sum(goals_scored) as goals_scored from
(select t.team_api_id, t.team_long_name, t.team_short_name, h.match_api_id, h.home_team_goal as goals_scored from Team t, Match h where h.home_team_api_id = t.team_api_id
union all
select t.team_api_id, t.team_long_name, t.team_short_name, a.match_api_id, a.away_team_goal as goals_scored from Team t, Match a where a.away_team_api_id = t.team_api_id) group by team_api_id, team_long_name, team_short_name) order by goals_scored desc"))

Source:   query [?? x 4]
Database: sqlite 3.11.1 [database.sqlite]

   team_api_id team_short_name    team_long_name goals_scored
         <int>           <chr>             <chr>        <int>
1         8634             BAR      FC Barcelona          849
2         8633             REA    Real Madrid CF          843
3         9925             CEL            Celtic          695
4         9823             BMU  FC Bayern Munich          653
5         8640             PSV               PSV          652
6         8593             AJA              Ajax          647
7         9931             BAS          FC Basel          619
8         8456             MCI   Manchester City          606
9         8455             CHE           Chelsea          583
10       10260             MUN Manchester United          582
# ... with more rows

### Cumulating all the player details which includes player overall rating, gk rating, number of total appearances, number of leagues they played in and then loading to a data frame

In [14]:
players <- tbl(my_db, sql("select * from (select p.player_api_id, p.player_name, rtg.overall_rating, gk.gk_rating, app.appearances, lc.league_count
from Player p
join (select player_api_id, max(overall_rating) as overall_rating from 'Player_Attributes' group by player_api_id) rtg on p.player_api_id = rtg.player_api_id
join (select player_api_id, max(gk_diving+gk_handling+gk_kicking+gk_positioning+gk_reflexes) as gk_rating from 'Player_Attributes' group by player_api_id) gk on p.player_api_id = gk.player_api_id 
join (select player_id, count(*) as appearances from 'MatchPlayer' where player_id is not null group by player_id) app on p.player_api_id = app.player_id 
join (select player_id, count(*) as league_count from (select distinct player_id, league_id from MatchPlayer where player_id is not null) group by player_id) lc on  p.player_api_id = lc.player_id)"))

### Cumulating all the data related to Team which includes  buildup Score, chancecreation score , defense score and the the number of goals scored by each and then loading to a data frame

In [15]:
teams <- tbl(my_db, sql("select * from(select t.*, bs.buildupScore, cs.chanceCreationScore, ds.defenseScore from 
(select team_api_id, team_long_name, team_short_name, sum(goals_scored) as goals_scored from
(select t.team_api_id, t.team_long_name, t.team_short_name, h.match_api_id, h.home_team_goal as goals_scored from Team t, Match h where h.home_team_api_id = t.team_api_id
union all
select t.team_api_id, t.team_long_name, t.team_short_name, a.match_api_id, a.away_team_goal as goals_scored from Team t, Match a where a.away_team_api_id = t.team_api_id) group by team_api_id, team_long_name, team_short_name) t
left join (select team_api_id, max(buildup_score) as buildupScore from (select team_api_id, (buildUpPlaySpeed+buildUpPlayDribbling+buildUpPlayPassing) as buildup_score from Team_attributes) group by team_api_id) bs on bs.team_api_id = t.team_api_id
left join (select team_api_id, max(chanceCreationScore) as chanceCreationScore from (select team_api_id, (chanceCreationPassing+chanceCreationCrossing+chanceCreationShooting) as chanceCreationScore from Team_attributes) group by team_api_id) cs on cs.team_api_id = t.team_api_id
left join (select team_api_id, max(defenseScore) as defenseScore from (select team_api_id, (defencePressure+defenceAggression+defenceTeamWidth) as defenseScore from Team_attributes) group by team_api_id) ds on ds.team_api_id = t.team_api_id)"))

### Loading data to a dataframe

In [16]:
playersdf <- as.data.frame(players)
teamsdf <- as.data.frame(teams)

### Loading the data in dataframes to csv files

In [17]:
write.csv(playersdf,file = "players.csv")
write.csv(teamsdf,file = "teams.csv")